*{
   margin: 0px;
   padding: 0;
   text-decoration: none;
   list-style: none;
   font-family: sans-serif;
}

body{
  background: url(../img/background.jpg);
  background-position: bottom center;
  height: 1080px;
}
/*==========================================================
    1. Header
===========================================================*/
header{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 83px;
  background:url(../img/cabezote.jpg);  
}

#logo{
  position: absolute;
  width: 187px;
  height: 44px;
  top: 18px;
  left: 16px;
}
/*==========================================================
    2. Nav
===========================================================*/
nav{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 45px;
  border-bottom: 1px solid white;
  background:url(../img/nav.jpg);
}

nav ul {
  position: absolute;
  width: 500px;
  height: 45px;
}

nav ul li{
  float: left;
  width: 124px;
  height: 45px;
  border-right: 1px solid white;
  text-align: center;
  line-height: 45px;
  color: white;
}

/*==========================================================
    3. Slide
===========================================================*/
#slide{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 301px;  
}
/*==========================================================
    4. Slide Options
===========================================================*/
#slideOptions{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 25px;
  background:url(../img/backBotonesSlide.jpg);
}

#slideOptions ul{
  position: relative;
  margin: auto;
  width: 100px;
  height: 26px;
}

#slideOptions ul li {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #232d80;;
  border: 3px solid white;
  margin: 3px 2px;
}
/*==========================================================
    5. Changing
===========================================================*/
/* Index
-------------------------------- */
.changing{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 300px;
  background:white; 
}

#changingIndex ul li{
  float: left;
  width: 330px;
  height: 300px;
}

#changingIndex ul li h1{
  margin: 24px 27px;
  font-weight: 100;
  font-size: 25px;
}

#changingIndex ul li p{
  margin: 24px 28px;
  font-size: 16px;
}

#changingIndex ul li img{
  margin: -5px 33px;
  width: 273px;
  height: 83px;
  background: silver;
}

/* Contactenos
-------------------------------- */

/* Quienes Somos
-------------------------------- */

/* Servicios
-------------------------------- */
/*==========================================================
    6. Bottom
===========================================================*/
#bottom{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 190px;
  background: url(../img/backBottom.jpg);
}

#bottom ul li{
  float: left;
  height: 190px;
  width: 250px;
}

#bottom ul li h1{
  margin: 16px 16px;
  color: white;
  font-size: 18px;
  font-weight: 100;
}
#bottom ul li ol{
  position: relative;
  top: 12px;
  left: 15px;
  width: 190px;
  height: 80px;
  }

#bottom ul li ol li{
  height: 20px;
  text-align: left;
  list-style: inside;
  font-size: 15px;
  color: white;
  list-style-image: url(../img/list.png);
}

#bottom ul li img{
  position: relative;
  top: 15px;
  left: 15px;
  width: 95px;
  height: 95px;
  border: 4px solid white;
  background: gray;
  background-size: cover;
}

#bottom ul li ul{
  position: relative;
  left: 11px;
  top: 11px;
  width: 200px;
  height: 52px;
}

#bottom ul li ul  li{
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: white;
  margin: 5px;
}

#bottom ul li ul li:first-child {
  background:url(../img/facebook.jpg);
  background-size: cover;
}
#bottom ul li ul li:nth-child(2){
  background: url(../img/iconoGoogle.jpg);
  background-size: cover;
}

#bottom ul li ul li:nth-child(2){
  background: url(../img/iconoGoogle.jpg);
  background-size: cover;
}

#bottom ul li ul li:nth-child(2){
  background: url(../img/iconoGoogle.jpg);
  background-size: cover;
}

#bottom ul li ul li:nth-child(3){
  background: url(../img/iconoPinterest.jpg);
  background-size: cover;
}

#bottom ul li ul li:last-child{
  background: url(../img/iconoTwitter.jpg);
  background-size: cover;
}

#bottom ul li ul li a{
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

/*==========================================================
    7. Footer
===========================================================*/
footer{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 61px;
  background: black; 
  text-align: center;
  color: aliceblue;
  line-height: 61px;
}