*{
   margin: 0px;
   padding: 0;
   text-decoration: none;
   list-style: none;
   font-family: sans-serif;
}

body{
  background: url(../img/background.jpg);
  background-position: bottom center;
  height: 1080px;
}
/*==========================================================
    1. Header
===========================================================*/
header{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 83px;
  background:url(../img/cabezote.jpg);  
}

#logo{
  position: absolute;
  width: 187px;
  height: 44px;
  top: 18px;
  left: 16px;
}
/*==========================================================
    2. Nav
===========================================================*/
nav{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 45px;
  border-bottom: 1px solid white;
  background:url(../img/nav.jpg);
}

nav ul {
  position: absolute;
  width: 500px;
  height: 45px;
}

nav ul li{
  float: left;
  width: 124px;
  height: 45px;
  border-right: 1px solid white;
  text-align: center;
  line-height: 45px;
  color: white;
}

/*==========================================================
    3. Slide
===========================================================*/
#slide{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 301px;  
}
/*==========================================================
    4. Slide Options
===========================================================*/
#slideOptions{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 25px;
  background:url(../img/backBotonesSlide.jpg);
}

#slideOptions ul{
  position: relative;
  margin: auto;
  width: 100px;
  height: 26px;
}

#slideOptions ul li {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #232d80;;
  border: 3px solid white;
  margin: 3px 2px;
}
/*==========================================================
    5. Changing
===========================================================*/
.changing{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 300px;
  background:url(../img/servicios.jpg) 
}

/* Index
-------------------------------- */
#changingIndex ul li{
  float: left;
  width: 330px;
  height: 300px;
}

#changingIndex ul li h1{
  margin: 24px 27px;
  font-weight: 100;
  font-size: 25px;
}

#changingIndex ul li p{
  margin: 24px 28px;
  font-size: 16px;
}

#changingIndex ul li img{
  margin: -5px 33px;
  width: 273px;
  height: 83px;
  background: silver;
}

/* Contactenos
-------------------------------- */
form{
  position: relative;
  margin: auto;
  top: 32px;
  width: 910px;
  height: 232px;
}

#nombre{
  position: absolute;
  top: 0px;
  height: 49px;
  width: 277px;
  padding: 10px;
  text-align: left;
}

#email{
  position: absolute;
  top: 82px;
  height: 49px;
  width: 277px;
  padding: 10px;
  text-align: left;
}

#asunto{
  position: absolute;
  bottom: 0px;
  height: 49px;
  width: 277px;
  padding: 10px;
  text-align: left;
}

#mensaje{
  position: absolute;
  right: 0px;
  height: 130px;
  width: 583px;
  padding: 10px;
  text-align: left;
}

#enviar{
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 70px;
  width: 604px;
  padding: 10px;
  text-align: left;
  text-align: center;
  color: white;
  background: #1a1d20;
}

.esquema{
  border: 0;
  background: #dce9d7;
}
/* Quienes Somos
-------------------------------- */

#changingQuienesSomos h1{
  position: relative;
  top: 15px;left: 27px;
  color: #1f1d21;
  font-weight: 100;
}

#changingQuienesSomos hr{
  position: relative;
  top: 20px;
  width: 950px;
  margin: auto;
  border: 1px solid #c6c6c6;
}

#changingQuienesSomos p{
  position: relative;
  top: 40px;
  width: 950px;
  margin: auto;
  color: #414042;
  text-align: justify;

}
#changingQuienesSomos img{
  float: left;
  width: 272px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* Servicios
-------------------------------- */
#caja{
  position: relative;
  width: 936px;
  height: 262px;
  top: 17px;
  left: 31px;
  box-shadow: 0px 0px 30px #222;
}

#big{
  position: absolute;
  width: 731px;
  height: 223px;
  top: 19px;
  right: 19px;
}

#big h1 {
  position: absolute;
  top: 11px;
  left: 19px;
  color: #4d545a;
  font-weight: 100;
  font-size: 27px;
}

#big p{
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0,0,0,.7);
  color: white;
  line-height: 51px;
  text-indent: 9px;
}

#small{
  position: absolute;
  width: 150px;
  height: 220px;
  top: 22px;
  left: 17px;
}
#small ul li{
  width: 150px;
  height: 72px;
  margin-bottom: 2px;
  cursor: pointer;
}
/*==========================================================
    6. Bottom
===========================================================*/
#bottom{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 190px;
  background: url(../img/backBottom.jpg);
}

#bottom ul li{
  float: left;
  height: 190px;
  width: 250px;
}

#bottom ul li h1{
  margin: 16px 16px;
  color: white;
  font-size: 18px;
  font-weight: 100;
}
#bottom ul li ol{
  position: relative;
  top: 12px;
  left: 15px;
  width: 190px;
  height: 80px;
  }

#bottom ul li ol li{
  height: 20px;
  text-align: left;
  list-style: inside;
  font-size: 15px;
  color: white;
  list-style-image: url(../img/list.png);
}

#bottom ul li img{
  position: relative;
  top: 15px;
  left: 15px;
  width: 95px;
  height: 95px;
  border: 4px solid white;
  background: gray;
  background-size: cover;
}

#bottom ul li ul{
  position: relative;
  left: 11px;
  top: 11px;
  width: 200px;
  height: 52px;
}

#bottom ul li ul  li{
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: white;
  margin: 5px;
}

#bottom ul li ul li:first-child {
  background:url(../img/facebook.jpg);
  background-size: cover;
}
#bottom ul li ul li:nth-child(2){
  background: url(../img/iconoGoogle.jpg);
  background-size: cover;
}

#bottom ul li ul li:nth-child(2){
  background: url(../img/iconoGoogle.jpg);
  background-size: cover;
}

#bottom ul li ul li:nth-child(2){
  background: url(../img/iconoGoogle.jpg);
  background-size: cover;
}

#bottom ul li ul li:nth-child(3){
  background: url(../img/iconoPinterest.jpg);
  background-size: cover;
}

#bottom ul li ul li:last-child{
  background: url(../img/iconoTwitter.jpg);
  background-size: cover;
}

#bottom ul li ul li a{
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

/*==========================================================
    7. Footer
===========================================================*/
footer{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 61px;
  background: black; 
  text-align: center;
  color: aliceblue;
  line-height: 61px;
}